# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Game files and executables
dx
cg.npa
nss.npa
sound.npa
voice.npa
steins-gate
steins-gate.exe
