
# cmake files
CMakeFiles/
CMakeCache.txt
*.cmake
Makefile
_CPack_Packages
install_manifest.txt
*.tar.bz2
src/version.hpp
!cmake/Modules/*.cmake

# libraries
*.a
*.dll
*.dylib
*.lib
*.so

# executable
steins-gate

# game files
dx/
*.npa
*.exe
